@import "../../styles/variables";
@import "../../styles/mixins";

.TodoList {
  margin: 0 30px;
  padding: 0 5px;
  max-height: 265px;
  overflow-x: hidden;
  overflow-y: auto;

  @include scrollbarY($bg-color, $scrollY-gradient-color);

  @media all and (max-width: $mobile-m-width) {
    max-height: none;
    flex: 1;
  }
}
