//colors
$gradient-color: linear-gradient(to right, #f09819, #ff512f);
$scrollY-gradient-color: linear-gradient(to bottom, #f09819, #ff512f);
$scrollX-gradient-color: linear-gradient(to right, #f09819, #ff512f);

$main-color: #96c5fd;
$main-bg-color: #ffffff;
$bg-color: #edeef7;
$badge-color: #f92323;
$remove-btn-color: #f92323;
$main-text-color: #fa6b27;

//shapes
$round-shape: 50%;
$rounded-shape: 10px;

//letter-spacing
$normal-letter-spacing: 2px;
$large-letter-spacing: 4px;

//text
$bold-text: 800;
$normal-text: 500;
$main-text: 24px;

//device width
$mobile-s-width: 355px;
$mobile-m-width: 375px;
