@import "../../sassStyles/_variables.scss";

.Header {
  background-color: $bg-color;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__date {
    letter-spacing: $normal-letter-spacing;
  }

  &__text {
    text-transform: uppercase;
    letter-spacing: $large-letter-spacing;
    font-size: $main-text;
    font-weight: $bold-text;
    color: $main-text-color;
    margin: 10px;
  }
}
