@import "../../styles/variables";

.AddTodo {
  display: flex;
  width: 80%;
  margin: 20px auto;

  &__input {
    padding: 0 10px;
    outline: none;
    border: solid 2px #edeef7;
    border-radius: 10px;
    background-color: $main-bg-color;
    flex-grow: 1;
    height: 45px;
    letter-spacing: 2px;

    &::placeholder {
      color: #96c5fd;
      letter-spacing: 2px;
    }
  }

  &__btn {
    border: none;
    background-color: #96c5fd;
    margin-left: 20px;
    padding: 10px;
    height: 45px;
    border-radius: 10px;
    outline: none;
    box-shadow: 9px 6px 10px 0px rgba(#a6a9b6, 0.6);
    cursor: pointer;
  }
}
