@import "../../sassStyles/_variables.scss";

.Footer {
  background-color: $bg-color;
  margin-top: 20px;

  &__text {
    margin: 0;
    padding: 20px;
    text-align: center;
    letter-spacing: $normal-letter-spacing;
  }
}
