@import-normalize;
@import "./checkbox.scss";

html {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  box-sizing: border-box;
}

.App {
  background: linear-gradient(to right, #f09819, #ff512f);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Container {
  background-color: #f9f3f3;
  width: 50%;
  height: auto;
  border-radius: 5px;
  box-shadow: 15px 14px 20px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  max-height: 80%;

  @media all and (max-width: 768px) {
    width: 90%;
  }
}

.Header {
  background-color: #edeef7;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__date {
    letter-spacing: 2px;
  }
}

.Badge {
  position: relative;

  .Badge__content {
    position: absolute;
    top: -12%;
    left: 95%;
    background-color: #f92323;
    color: white;
    width: 20px;
    height: 20px;
    font-size: calc(1rem * 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
}

.Header__text {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 24px;
  font-weight: 800;
  color: #fa6b27;
  margin: 10px;
}

.AddTodo {
  display: flex;
  width: 80%;
  margin: 20px auto;

  &__input {
    padding: 0 10px;
    outline: none;
    border: solid 2px #edeef7;
    border-radius: 10px;
    background-color: #f9f3f3;
    flex-grow: 1;
    height: 45px;
    letter-spacing: 2px;

    &::placeholder {
      color: #96c5fd;
      letter-spacing: 2px;
    }
  }

  &__btn {
    border: none;
    background-color: #96c5fd;
    margin-left: 20px;
    padding: 10px;
    height: 45px;
    border-radius: 10px;
    outline: none;
    box-shadow: 9px 6px 10px 0px rgba(#a6a9b6, 0.6);
    cursor: pointer;
  }
}

.Picture {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__spaceman {
    border-radius: 50%;
    box-shadow: 9px 6px 10px 0px rgba(#a6a9b6, 0.6);
  }

  &__text {
    margin-top: 30px;
    margin-bottom: 0;
    letter-spacing: 2px;
    font-weight: 500;
    color: #fa6b27;
  }
}

.TodoList {
  margin: 0 30px;
  padding: 0 5px;
  max-height: 265px;
  overflow-x: hidden;
  overflow-y: auto;

  &::-webkit-scrollbar {
    background-color: #edeef7;
    border-radius: 5px;
    width: 10px;

    &-thumb {
      border-radius: 5px;
      background-image: linear-gradient(to bottom, #f09819, #ff512f);
    }
  }
}

.TodoItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #96c5fd;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;

  &__check {
    margin-right: 10px;
  }

  &__number {
    margin-right: 10px;
  }

  &__text {
    flex-grow: 1;
    margin-right: 10px;
    letter-spacing: 2px;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f92323;
    border-radius: 50%;
    outline: none;
    border: none;
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
}

.item {
  &-appear {
    opacity: 0;
    transform: translateX(-100%);

    &-active {
      opacity: 1;
      transition: opacity 500ms, transform 500ms;
      transform: translateX(0%);
    }
  }

  &-enter {
    opacity: 0;
    transform: translateX(-100%);

    &-active {
      opacity: 1;
      transition: opacity 500ms, transform 500ms;
      transform: translateX(0%);
    }
  }

  &-active {
    opacity: 1;
    transition: opacity 500ms, transform 500ms;
    transform: translateX(0%);
  }

  &-exit {
    opacity: 1;
    transform: translateX(0%);

    &-active {
      opacity: 0;
      transition: opacity 500ms, transform 500ms;
      transform: translateX(100%);
    }
  }
}

.Footer {
  background-color: #edeef7;
  margin-top: 20px;

  &__text {
    margin: 0;
    padding: 20px;
    text-align: center;
    letter-spacing: 2px;
  }
}
