body {
  margin: 0;
}

.App {
  background: linear-gradient(to right, #f09819, #ff512f);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Container {
  background-color: #f9f3f3;
  width: 60%;
  border-radius: 5px;
  /* box-shadow: ; */
}
